{
    "root": true,
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "node": true
    },
    "ignorePatterns": ["dist", "node_modules"],
    "overrides": [
        {
            "files": ["src/**/*.ts", "src/**/*.tsx"],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "parser": "@typescript-eslint/parser",
            "plugins": ["@typescript-eslint"]
        }
    ]
}
